 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;800&family=Raleway:wght@100&display=swap');

 * {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
 }

 img {
    width: 100%;
    display: flex;
 }

 a {
    text-decoration: none;
 }

 body {
    font-family: 'Poppins' , sans-serif;
    background-color: #18181b;
 }

 nav {
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
 }

 .nav-logo {
    max-width: 100px;
 }

 .nav-links {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 3rem;
 }

 .link a {
    color: #fff;
    padding-bottom: 0.75rem;
    position: relative;
 }

 .link  a::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #1d4ed8;
    transition: all 0.3s ease;
 }

 .link a:hover::after {
    width: 70%;
 }

 .btn {
    color: #fff;
    cursor: pointer;
    background-color: #1d4ed8;
    font-size: 1rem;
    padding: 1rem 2rem;
    border-radius: 5px;
    transition: all 0.3s ease;
 }

 .btn:hover {
    background-color: #1e40af;
 }

 .container {
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
 }

 .blur {
    position: absolute;
    box-shadow: 0 0 1000px 50px #1d4ed8;
    z-index: -100;
 }

 header {
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
 }

 header .content h1 {
    color: #fff;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 700;
    line-height: 4rem;
 }

 header .content h1 span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
 }

 header .content p {
    margin-bottom: 2rem;
    color: #ccc;
 }

 header .content h4 {
    margin-bottom: 0.5rem;
    color: #DCE5D8;
 }

 header .content h4 a {
    font-style: none;
    color: #1d4ed8;
    transition: color 0.4s ease;
 }


 header .content h4 a:hover {
    color: #1e40af;
 }

 header .image{
    position: relative;
 }

 header .image::before {
    content: 'o';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 38rem;
    font-weight: 400;
    line-height: 20rem;
    color: #1d4ed8;
    opacity: 0.2;
    z-index: -100;
 }

 header .image img {
    max-width: 600px;
    margin: auto;
 }


.container2 {
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem; 
    padding-right: 3rem;
}


header .content2 h1 {
color: #fff;
margin-bottom: 1rem;
font-size: 3rem;
font-weight: 700;
line-height: 4rem;
}

header .content2 h1 {
position: relative;
transition: transform 0.7s ease;
}

header .content2 h1:hover{
   transform: translateY(-10px);
}





header .content2 h1:hover{
   transform: translateY(-10px);
}

header .content2 p {
    margin-bottom: 2rem;
    color: #ccc;
}



.icons {
    display: flex;
    justify-content: space-around;
}

.icons .icon-button{
    text-align: center;
    display: inline-block;
}

.icon {
    font-size: 7rem;
    cursor: pointer;
    
}

#padding-first {
   padding-left: 15px;
   padding-right: 15px;
}
#padding-last {
   padding-right: 20px;
}
#padding {
    padding-left: 15px;
    /* padding-right: 15px; */
}

 .icon-button  span {
        color: #fff;
}

.icons .icon-button i {
    cursor: pointer;
    transition: color 0.5 ease;
}
.icons .icon-button i, 
.icons .icon-button span{
   color:#1d4ed8;
   transition: color 0.4s ease;
   
}



.icons .icon-button:hover .icon i,
.icons .icon-button:hover span {
  color: #fff; /* İstediğiniz rengi kullanabilirsiniz */
}


.skills {
   width: 100%;
   max-width: 600px;
   padding: 20px  54px 20px;
}

.skill-name {
   font-size: 18px;
   font-weight: 700;
   color :#fff;
   text-transform: uppercase;
   margin: 20px 0;
}

.skill-bar{
height: 14px;
background: #ccc;
border-radius: 10px;
}



.skill-per{
   height: 14px;
   position: relative;
   background-color: #1d4ed8;
   border-radius: 7px;
   
   
   
}

.skill-per:hover {
   height: 14px;
   animation: valid 2.5s 1;
}

.skills:hover .skill-per{
   animation: valid 2.5s 1;
}

.skill-per::before {
   content: attr(per);
   position: absolute;
   padding: 4px 6px;
   background: #ccc;
   border-radius: 6px;
   font-size: 12px;
   top: -35px;
   right: 0;
   transform: translateX(50%);
}

.skill-per::after{
   content: '';
   position: absolute;
   width: 7px;
   height: 7px;
   background-color: #ccc;
   top: -13px;
   right: 0;
   transform: translateX(50%) rotate(45deg);
   border-radius: 3px;
}

.flag {
   width: 40px;
   height: 40px;
}

.language {
   display: flex;
   align-items: center;
   justify-content: center;
   color: #fff;
   margin-bottom: 1rem;
   font-size: 3rem;
   font-weight: 700;
   line-height: 4rem;
   position: relative;
   transition: transform 0.7s ease;
}

.language:hover {
transform: translateY(-10px);
}


@keyframes valid{
   from {
      width: 0%;
   }
   to {
      width: 100%;
   }
}

.education {
   padding: 0 54px 170px 54px;
   display: flex;
   justify-content: space-between;
   gap:2rem;
}

.card {
   width: 100%;
   height: 400px;
   border: solid;
   align-items: center;
   position: relative;
   transition: transform 0.7s ease;
}

.card:hover {
transform: translateY(-10px);
}


.card .header {
   height: 33%;
}

.card .header h1 {
font-weight: 500;
font-size: 1.3rem;
padding-top: 30px;
color: #bad7e6;
}

.card .azmiu h1 {
   color: #292927;
} 
.card  .code {
   background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,93,1) 0%, rgba(78,0,255,1) 100%);
}

.card .azmiu {
   background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(237,234,234,1) 0%, rgba(0,205,255,0.8708275546546744) 100%);
}

.card .header {
   display: flex;
   justify-content: center;
   position: relative;
}
.card .circle {
   width: 100px;
   height: 100px;
   border-radius: 50%;
   background-color: transparent;
   position: absolute;
   bottom: -50px;
   border: solid;
}


.circle .code {
border-radius: 50%;
}

.circle .azmiu {
   border-radius: 50%;
   height: 95px;
   background-color: red;
}

.card .h3-azmiu{
   font-size: 1.5rem;
   color: #dce0e0;
   text-align: center;
   padding: 60px 20px;
}

.card .h2-azmiu{
   font-size: 1rem;
   color: #dce0e0;
   text-align: center;
   bottom: 10px;
   position: absolute;
   bottom: 10px;
   left: 50%;
   transform: translateX(-50%);
}

.card  .h1-code {
   font-size: 1.3rem;
   color: #dce0e0;
   text-align: center;
   padding: 60px 20px 0 20px;
}

.card .h2-code {
   font-size: 1rem;
   color: #dce0e0;
   position: absolute;
   bottom: 10px;
   left: 50%;
   transform: translateX(-50%);
}

.h1-edu {
   padding: 5px 60px;
   color: #dce0e0;
}


.wrapper {
   display: inline-flex;
   padding:  0 90px;

}



.wrapper .icon {
   margin: 0 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   position: relative;
   z-index: 2;
   cursor: pointer;
   transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.wrapper .icon .tooltip {
   position:absolute;
   top: -0px;
   font-size: 20px;
   background: #fff;
   color: #fff ;
   line-height: 60px;
   padding: 0px 18px;
   border-radius: 25px;
   box-shadow: 0 10px 10px rgba(0,0,0,0.1) ;
   opacity: 0;
   pointer-events: none;
   transition: all 0.3s cubic-bezier(0.68,-0.55,0.265,1.55);

}

.wrapper .icon span i {
   color: black;
}
.wrapper .icon:hover span i{
   color: #fff;
   transition: all 0.3s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.wrapper .icon:hover .tooltip {
   opacity: 1;
   top: -80px;
   pointer-events: auto;
}

.wrapper .icon span {
   position: relative;
   z-index: 2;
   width: 60px;
   height: 60px;
   display: block;
   text-align: center;
   justify-content: center;
   background: #fff;
   border-radius: 50%;
   font-size: 40px;
   box-shadow: 0 10px 10px rgba(0,0,0,0.1);
}
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip{
   text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
}
.wrapper .icon span i {
   line-height: 60px;
}

.tooltip::before {
   content: '';
   position: absolute;
   width: 15px;
   height: 15px;
   background: white;
   bottom: -8px;
   left: 50%;
   transform: translateX(-50%) rotate(45deg);
}


.wrapper .facebook:hover span,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
   background: #3b599f
}
.wrapper .twitter:hover span,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
   background: #46c1f6;
}

.wrapper .github:hover span,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
   background: rgb(247,247,243);
background: linear-gradient(90deg, rgba(247,247,243,1) 0%, rgba(104,100,104,0.9959442395122111) 100%);
}

.wrapper .instagram:hover span,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
   background: rgb(230,240,24);
   background: linear-gradient(90deg, rgba(230,240,24,1) 0%, rgba(216,17,236,0.9959442395122111) 100%);
}


.h1-social {
   padding: 20px 105px 0px;
   color: #dce0e0;
   margin-top: 70px;
   margin-bottom: 0px;
   font-size: 50px;
}

.h4-social {
   color: gray;
   padding: 0px 105px;
   margin-top: 0px;
   margin-bottom: 80px;
   
}


.personal-photo img {
   border-radius: 50%;
   overflow: hidden;
   width: 300px;
   height: 300px;
   float: right;
   margin: -240px 200px 300px;
   border: solid #1d4ed8 8px;
   object-fit: cover;
}

.contact {
   margin: 100px 105px 0 ;
   
}
.contact h1 {
   font-size: 50px;
   color: #dce0e0;
}
.contact h4 {
   color: gray;
   
   
}
.contact h2 {
   color:#1d4ed8;
   transition: all 0.5s ease;
}

.contact .number {
   padding-top: 40px;
   
}



.contact h2:hover {
   transform: translateY(-10px);
   color: #fff;
   
}

.contact .email {
   padding-top: 10px;
}

.emailImg {
   float: right;
   width: 150px;
   height: 150px;
   margin-top: -140px;
   margin-left: 230px;
   margin-right: -300px;
   
}













